*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 30px;
}

section .logo{
    position: relative;
    width: 45%;
    height: 95%;

}

section .logo img{
    position: absolute;
    top: 70px;
    left: 100px;
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
}

section .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 85%;
}

section .content .form{
    width: 55%;
    padding: 20px;
    border: 1px solid #ccc;
}

section .content .form h2{
    color: #123c69;
    font-weight: 500;
    font-size: 1.5em;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    letter-spacing: 1px;

}

section .content .form .input-form{
    margin-bottom: 20px;
}

section .content .form .input-form input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #123c69;
    font-size: 14px;
    letter-spacing: 1px;
    color: #123c69;
    background: transparent;
    border-radius: 30px;
}

section .content .form .input-form input::placeholder {
    font-size: 14px;
}

section .content .form .input-form[title="user-pass"]{
    display: flex;
    align-items: center;
    position: relative;
}

section .content .form .input-form[title="user-pass"] input{
    padding-right: 40px;
}

section .content .form .input-form[title="user-pass"] button{
    background-color: transparent;
    border: none; 
    color:#15A0FE;
    font-size: 14px;
    position: absolute;
    right: 0;
}

section .content .form .input-form[title="user-pass"] img{
    position: absolute;
    right: 0;
    margin-right: 10px;
}

section .content .form .input-form input[type="submit"], section .content .form .input-form input[type="button"]{
    background: #15A0FE;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

section .content .form .remember-me-forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #123c69;
    font-size: 14px;
}
section .content .form .remember-me-forgot-password a{
    color: #123c69;
    text-decoration: none;
}

section .content .form .input-form p{
    color: #123c69;
}

section .content .form .icon{
    display: flex;
    justify-content: center;
}

section .content .form .icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

section .content .form .icon ul li {
    margin: 0 10px;
}

section .content .form p{
    color: #123c69;
    text-align: center;
    font-weight: 500;
}

section .content .form .input-form p a{
    color:#15A0FE;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    section .logo {
        display: none;
    }
    section .content {
        width: 100%;
    }
    section .content .form {
        width: 80%;
    }
}

















